@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}
.shadow-box {
  box-shadow: 0px 4.885px 18.3187px rgba(0, 0, 0, 0.1);
}
.highlight {
  color: #0a5dab;
}
.border-resize {
  border-bottom-left-radius: 56%;
  border-bottom-right-radius: 10%;
}
.nav-section {
  background: rgba(128, 128, 128, 0.226);
  color: #0a5dab;
  box-shadow: 0px 4.885px 18.3187px rgba(0, 0, 0, 0.1);
}
.drop-shadow-box {
  filter: drop-shadow(0px 18px 40px rgba(0, 0, 0, 0.2));
}
